<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        h2{ text-align: center;}
    </style>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Daftar Pesawat')"></nav>
<br>
<a class="btn btn-primary" th:href="@{/pesawat/tambah}">Add Pesawat</a>
<div class="container">
    <div class="row">
        <div class="col" style="margin-right: 2vw">
            <h2>Daftar Pesawat</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Nomor Seri</th>
                    <th>Tipe</th>
                    <th>Jenis</th>
                    <th>Maskapai</th>
                    <th>Aksi</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="pesawat, iterationStatus: ${listPesawat}"
                    th:style="'font-weight:light;'">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${pesawat.nomor_seri}"></td>
                    <td th:text="${pesawat.tipe.nama}"></td>
                    <td th:text="${pesawat.jenis_pesawat}"></td>
                    <td th:text="${pesawat.maskapai}"></td>
                    <td>
                        <a th:href="@{/pesawat/} + ${pesawat.id}" class="btn btn-outline-primary">View</a>
                        <a th:href="@{/pesawat/ubah/} + ${pesawat.id}" class="btn btn-outline-primary">Change</a>
                        <a th:href="@{/}" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>