<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Filter Pesawat')"></nav>
<br>
<form th:action="@{/pesawat/filter}" method="GET" class="card m-5 p-2">
    Penerbangan : <br>
    <select name="idPenerbangan" class="form-control">
        <option value="0"> - </option>
        <option th:each="penerbangan : ${listPenerbangan}"
                th:value="${penerbangan.id}"
                th:utext="${penerbangan.nomor_penerbangan}"></option>
    </select>
    Tipe : <br>
    <select name="idTipe" class="form-control">
        <option value="0"> - </option>
        <option th:each="tipe : ${listTipe}"
                th:value="${tipe.id}"
                th:utext="${tipe.nama}"></option>
    </select>
    Teknisi : <br>
    <select name="idTeknisi" class="form-control">
        <option value="0"> - </option>
        <option th:each="teknisi : ${listTeknisi}"
                th:value="${teknisi.id}"
                th:utext="${teknisi.nama}"></option>
    </select>
    <br><br>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th>No</th>
        <th>Nomor Seri</th>
        <th>Jenis</th>
        <th>Tipe</th>
        <th>Maskapai</th>
        <th>Nomor Penerbangan</th>
        <th>Teknisi</th>
    </tr>
    </thead>
    <tbody>
    <div th:if="${containsObject}">
        <tr th:each="pesawat, iterationStatus: ${listPesawatHasil}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${pesawat.nomor_seri}"></td>
            <td th:text="${pesawat.jenis_pesawat}"></td>
            <td th:text="${pesawat.tipe.nama}"></td>
            <td th:text="${pesawat.maskapai}"></td>
            <td>
                <p th:each="p : ${pesawat.listPenerbangan}">
                    <span th:text="${p.nomor_penerbangan}"></span>
                </p>
            </td>
<!--            <td th:text="${pesawat.maskapai}"></td>-->
            <td>
                <p th:each="t : ${pesawat.listTeknisi}">
                    <span th:text="${t.nama}"></span>
                </p>
            </td>
        </tr>
    </div>
    </tbody>
</table>
</body>
</html>