<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Update Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Form Add Pesawat')"></nav>
<br>

<div class="card m-5 p-3">
    <form th:action="@{/pesawat/update}" th:object="${pesawat}" method="POST">
        <input class="form-control" type="hidden" th:field="*{id}"/>
        <input class="form-control" type="hidden" th:field="*{tipe.id}"/>

        Maskapai : <br>
        <input class="form-control" type="text" th:field="*{maskapai}"/>
        <br><br>

        Tanggal Dibuat : <br>
        <input type="date" th:field="*{tanggal_dibuat}" class="form-control"/>
        <br><br>

        Tempat Dibuat : <br>
        <input class="form-control" type="text" th:field="*{tempat_dibuat}"/>
        <br><br>

        Jenis Pesawat : <br>
        <select th:field="*{jenis_pesawat}" class="form-control">
            <option value="Komersial">Komersial</option>
            <option value="Militer">Militer</option>
        </select>
        <br><br>

        <br><br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>

</body>
</html>