<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Pesawat Success</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Update Pesawat Success')"></nav>
<div class="container-fluid">
    <h2 th:text = "'Data pesawat ' + ${pesawatUpdated.maskapai} + ' dengan nomor seri ' + ${pesawatUpdated.nomor_seri} + ' berhasil diubah.'" ></h2>
    <a th:href="@{/pesawat}">Kembali ke Daftar Pesawat</a>
</div>
</body>
</html>