<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Detail Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('View Detail Pesawat')"></nav>
<br>
<h2>Detail Pesawat</h2>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nomor Seri</th>
        <th>Jenis Pesawat</th>
        <th>Tipe</th>
        <th>Maskapai</th>
        <th>Tempat Dibuat</th>
        <th>Tanggal Dibuat</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:text="${pesawat.id}"></td>
        <td th:text="${pesawat.nomor_seri}"></td>
        <td th:text="${pesawat.jenis_pesawat}"></td>
        <td th:text="${pesawat.tipe.nama}"></td>
        <td th:text="${pesawat.maskapai}"></td>
        <td th:text="${pesawat.tempat_dibuat}"></td>
        <td th:text="${pesawat.tanggal_dibuat}"></td>
    </tr>
    </tbody>
</table>
<br>
<h3>Daftar Teknisi Pesawat</h3>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nama</th>
        <th>Nomor Telepon</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="teknisi: ${listTeknisi}">
        <td th:text="${teknisi.id}"></td>
        <td th:text="${teknisi.nama}"></td>
        <td th:text="${teknisi.no_telepon}"></td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/pesawat}">Kembali ke Daftar Pesawat</a>
</body>
</html>